h3.title {
  background-color: #eef;
  width: 23%;
}

div#instructions {
  background-color: #fee;
  width: 23%;
}

div#stats{
  background-color: #efe;
  width: 23%;
}

button#start {
  margin-bottom: 10px;
}

.cell {
  border: 2px solid #88a;
  padding: 5px 5px;
  margin: -1.5px -1px;
  width: 5px;
  height: 5px;
  display: inline-block;
}

.xAxis path, .yAxis path,.yAxis line,
.xAxis line {
    fill: none;
    stroke: blue;
    shape-rendering: crispEdges;
}

.xAxis text, .yAxis path, {
    font-family: sans-serif;
    font-size: 11px;
}